*{
    margin: 0;
}

body{
    background-image: url(../media/index/Portada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;
}

.title{  
    padding: 100px;
}

.portada{
    width: 100%;
    height: 100%;
    background:rgb(0, 0, 0, 0.3);
}

.title h1{
    font-family: 'Titan One', cursiva;
    font-weight: lighter;
    font-size: 10em;
    color: #A3DFD3;
    -webkit-text-stroke: 5px white;
    text-align: center;
}

.menu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.secci贸n:hover{
    transform: translateY(-8px);
    background: #A3DFD3;
    box-shadow: black 0.1em 0.2em 0.4em;
    color: gray;
}

.secci贸n{
    background-color: #9093DA;
    margin: 30px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 8px;
}

.secci贸n i{
    margin: 10px;
    font-size: 50px;
}

@media screen and (max-width: 1080px) {
 .title h1{
   font-size: 60px;
 }
 
 .menu{
   grid-template-columns: 100%;
 }
 
 body{
   background-repeat: repeat-y;
 }
  .portada{
    height: auto;
    padding-bottom: 50px;
  }
 .secci贸n{
   margin: 10px;
 }
 
 .title{
   padding: 50px;
 }
}
